body {
    background-color: #212529;
}
.main {
    height: 60vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.bg-light-dark {
    background-color: #2B3035;
    border-radius:30px;
    margin: 10px 10px;
    padding:10px 20px;
}

.footer {
    height: 32vh;
   
    
}